body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 12px;
}

.container {
  width: 700px;
  margin: 30px;
  display: flex;
  justify-content: flex-start;
}

.left-column {
  width: 30%;
  display: flex;
  padding-top: 20px;
  justify-content: flex-start;
  align-self: flex-start;
}

.left-column img {
  width: 100%;
  height: auto;
  border: 1px solid;
  border-radius: 50%;
}

.grey-content {
  padding: 10px;
  background-color: #f7f7f7;
}

.right-column {
  width: 70%;
  padding-left: 20px;
}

.right-column h1 {
  font-family: 'Arial', sans-serif;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 400;
  color: #ff8500;
  margin-top: 0;
}

a {
  color: #ff3b8e;
}

a:hover {
  color: #ff8500;
}
